# IRIS 데이터 분류

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import tensorflow as tf

from tensorflow import keras
from tensorflow.keras import optimizers
from tensorflow.keras.layers import Dense

In [23]:
!wget https://raw.githubusercontent.com/dhrim/oss_university/master/material/iris.csv

--2019-10-31 08:50:31--  https://raw.githubusercontent.com/dhrim/oss_university/master/material/iris.csv
Resolving github.com (github.com)... 192.30.253.112
Connecting to github.com (github.com)|192.30.253.112|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/html]
Saving to: ‘iris.csv.1’

iris.csv.1              [ <=>                ] 103.90K   579KB/s    in 0.2s

2019-10-31 08:50:32 (579 KB/s) - ‘iris.csv.1’ saved [106389]

In [3]:
iris = pd.read_csv("iris.csv")
iris.head()

   septal_length  septal_width  petal_length  ...  setosa  versicolor  virginica
0            6.4           2.8           5.6  ...       0           0          1
1            5.0           2.3           3.3  ...       0           1          0
2            4.9           2.5           4.5  ...       0           0          1
3            4.9           3.1           1.5  ...       1           0          0
4            5.7           3.8           1.7  ...       1           0          0

[5 rows x 7 columns]

In [4]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 7 columns):
septal_length    120 non-null float64
septal_width     120 non-null float64
petal_length     120 non-null float64
petal_width      120 non-null float64
setosa           120 non-null int64
versicolor       120 non-null int64
virginica        120 non-null int64
dtypes: float64(4), int64(3)
memory usage: 6.7 KB

In [5]:
data = iris.to_numpy()
print(data.shape)
print(data[:5])

(120, 7)
[[6.4 2.8 5.6 2.2 0.  0.  1. ]
 [5.  2.3 3.3 1.  0.  1.  0. ]
 [4.9 2.5 4.5 1.7 0.  0.  1. ]
 [4.9 3.1 1.5 0.1 1.  0.  0. ]
 [5.7 3.8 1.7 0.3 1.  0.  0. ]]

In [0]:
x = data[:,:4]
y = data[:,4:]

split_index = 100

train_x, test_x = x[:split_index], x[split_index:]
train_y, test_y = y[:split_index], y[split_index:]

In [8]:
model = keras.Sequential([
    keras.layers.Dense(10, activation='relu', input_shape=(4,)),
    keras.layers.Dense(10, activation='relu'),
    keras.layers.Dense(3, activation='softmax')
])

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow_core/python/ops/resource_variable_ops.py:1630: calling BaseResourceVariable.__init__ (from tensorflow.python.ops.resource_variable_ops) with constraint is deprecated and will be removed in a future version.
Instructions for updating:
If using Keras pass *_constraint arguments to layers.

In [0]:
model.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])

In [10]:
model.fit(train_x, train_y, epochs=200, verbose=0)

In [11]:
loss, acc = model.evaluate(test_x, test_y)

print("loss :", loss)
print("acc :", acc)

20/20 [==============================] - 0s 1ms/sample - loss: 0.2412 - acc: 1.0000
loss : 0.24123017489910126
acc : 1.0

In [12]:
y_ = model.predict(test_x)
print(y_)
print(np.argmax(y_, axis=1))

[[9.4675004e-01 5.1995926e-02 1.2540402e-03]
 [1.1876517e-01 6.1807477e-01 2.6316002e-01]
 [8.6213022e-01 1.3151714e-01 6.3526374e-03]
 [4.9846917e-02 6.2370300e-01 3.2645014e-01]
 [9.5701075e-01 4.2085130e-02 9.0417569e-04]
 [9.6784490e-01 3.1598702e-02 5.5637251e-04]
 [9.7669744e-01 2.2967035e-02 3.3555808e-04]
 [9.7676861e-01 2.2844575e-02 3.8683796e-04]
 [1.2112507e-01 6.4469701e-01 2.3417790e-01]
 [9.4437760e-01 5.4257322e-02 1.3650210e-03]
 [3.6754555e-03 3.5867235e-01 6.3765222e-01]
 [4.3571014e-02 5.9176946e-01 3.6465961e-01]
 [9.3128091e-01 6.6959947e-02 1.7590373e-03]
 [5.6186947e-04 1.8141085e-01 8.1802726e-01]
 [9.5600921e-01 4.2997289e-02 9.9351408e-04]
 [1.9257912e-02 5.0040311e-01 4.8033890e-01]
 [6.1326943e-02 6.1938787e-01 3.1928524e-01]
 [9.4534898e-01 5.3105272e-02 1.5457054e-03]
 [9.5196491e-01 4.6941001e-02 1.0940519e-03]
 [5.6843273e-02 6.1880773e-01 3.2434905e-01]]
[0 1 0 1 0 0 0 0 1 0 2 1 0 2 0 1 1 0 0 1]

# loss categorical_crossentropy

2가지 crossentropy 사용 방법
- categorical_crossentropy
- sparse_categorical_crossentropy

## categorical_crossentropy
y의 값이 one hot encoding인 경우
```
1,0,0
0,1,0
0,0,1
```

출력 레이어 설정
```
model.add(Dense(3, activation="softmax")) # 출력 레이어
```

loss 설정
```
model.compile(..., loss='categorical_crossentropy')
```


## sparse_categorical_crossentropy
y의 값이 one hot encoding인 경우
```
0
1
2
```

출력 레이어 설정
```
model.add(Dense(3, activation="softmax")) # 출력 레이어. 1이 아니라 클래스 수 3
```

loss 설정
```
model.compile(..., loss='sparse_categorical_crossentropy')
```

# iris_dnn with category index

아래의 코드는 iris_dnn_and_optimizer.ipynb의 코드를 기반으로 한다.

In [24]:
!wget https://raw.githubusercontent.com/dhrim/oss_university/master/material/iris_with_category_index.csv

--2019-10-31 08:51:03--  https://raw.githubusercontent.com/dhrim/oss_university/master/material/iris_with_category_index.csv
Resolving github.com (github.com)... 192.30.253.112
Connecting to github.com (github.com)|192.30.253.112|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/html]
Saving to: ‘iris_with_category_index.csv.1’

iris_with_category_     [ <=>                ]  96.18K   562KB/s    in 0.2s

2019-10-31 08:51:04 (562 KB/s) - ‘iris_with_category_index.csv.1’ saved [98492]

In [14]:
iris = pd.read_csv("iris_with_category_index.csv")
iris.head()

   septal_length  septal_width  petal_length  petal_width  class
0            6.4           2.8           5.6          2.2      2
1            5.0           2.3           3.3          1.0      1
2            4.9           2.5           4.5          1.7      2
3            4.9           3.1           1.5          0.1      0
4            5.7           3.8           1.7          0.3      0

In [15]:
data = iris.to_numpy()
print(data.shape)
print(data[:5])

(120, 5)
[[6.4 2.8 5.6 2.2 2. ]
 [5.  2.3 3.3 1.  1. ]
 [4.9 2.5 4.5 1.7 2. ]
 [4.9 3.1 1.5 0.1 0. ]
 [5.7 3.8 1.7 0.3 0. ]]

In [16]:
x = data[:,:4]
y = data[:,4:]

split_index = 100

train_x, test_x = x[:split_index], x[split_index:]
train_y, test_y = y[:split_index], y[split_index:]

print(train_x.shape)
print(train_y.shape)
print(test_x.shape)
print(test_y.shape)

(100, 4)
(100, 1)
(20, 4)
(20, 1)

In [17]:
model = keras.Sequential()
model.add(Dense(10, activation='relu', input_shape=(4,)))
model.add(Dense(10, activation='relu'))
model.add(Dense(3, activation="softmax")) # 1이 아니고 클래스 수 3이다

# model.compile(optimizer="SGD", loss="categorical_crossentropy", metrics=["accuracy"])
model.compile(optimizer="SGD", loss="sparse_categorical_crossentropy", metrics=["accuracy"])
model.summary()

model.fit(train_x, train_y, epochs=1000, verbose=0, batch_size=20)

loss, acc = model.evaluate(test_x, test_y)
print("loss=", loss)
print("acc=", acc)

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_3 (Dense)              (None, 10)                50
_________________________________________________________________
dense_4 (Dense)              (None, 10)                110
_________________________________________________________________
dense_5 (Dense)              (None, 3)                 33
=================================================================
Total params: 193
Trainable params: 193
Non-trainable params: 0
_________________________________________________________________
20/20 [==============================] - 0s 993us/sample - loss: 0.0285 - acc: 1.0000
loss= 0.0285267885774374
acc= 1.0

In [18]:
y_ = model.predict(test_x)
print(y_)
print(np.argmax(y_, axis=1))

[[9.9847895e-01 1.5210088e-03 4.5079189e-09]
 [7.1596866e-03 9.9086952e-01 1.9708150e-03]
 [9.9177718e-01 8.2226470e-03 1.9085897e-07]
 [1.7808938e-03 9.9626130e-01 1.9578552e-03]
 [9.9816018e-01 1.8398253e-03 2.5156170e-09]
 [9.9949753e-01 5.0242577e-04 4.2559187e-10]
 [9.9964392e-01 3.5612666e-04 1.3917446e-10]
 [9.9955636e-01 4.4367142e-04 2.7504904e-10]
 [5.8740983e-03 9.9345410e-01 6.7182042e-04]
 [9.9732506e-01 2.6749109e-03 7.9555695e-09]
 [3.5226320e-05 2.9203004e-01 7.0793480e-01]
 [8.7943545e-04 9.9254745e-01 6.5730447e-03]
 [9.9737787e-01 2.6221694e-03 7.8952507e-09]
 [1.9786397e-07 1.1047671e-02 9.8895210e-01]
 [9.9767703e-01 2.3229336e-03 2.8835097e-09]
 [3.8833439e-04 8.5834104e-01 1.4127065e-01]
 [1.0061844e-03 9.9612695e-01 2.8669678e-03]
 [9.9682742e-01 3.1725289e-03 2.0459108e-08]
 [9.9863285e-01 1.3670946e-03 4.2263233e-09]
 [3.1925670e-03 9.9468994e-01 2.1175381e-03]]
[0 1 0 1 0 0 0 0 1 0 2 1 0 2 0 1 1 0 0 1]